@import '../../../assets/scss/vars';

.wrapper {
  color: currentColor;
}

.header {
  position: relative;
  margin-bottom: 2rem;

  .title {
    margin-bottom: .8rem;
  }

  p {
    margin-bottom: .3rem;
  }
}


.box {
  margin-bottom: 2rem;

  &_title {
    text-transform: uppercase;
    margin: 0 0 .5rem;
  }

  &_content {
    border-radius: $border-radius-sm;
    padding: 2rem 2rem 1rem;
  }

  .item {
    margin-bottom: 1rem;

    &.default {

      button {
        color: rgba($grey, .8)
      }
    }
  }

  &.account {

    .item {
      width: 50%;
    }

    .label {
      padding-left: .5rem;
    }

    .field {
      font-family: $font-mono;
      height: 2.25rem;
      line-height: 2rem;
      padding: 0 .5rem;

    }
  }
}

.list {
  list-style: none;
}

.danger {
  padding-top: 2rem;
}

.delete {
  display: flex;
  justify-content: space-between;

  button {
    background-color: transparent;
    margin-left: 1rem;
    border: 2px solid $danger;
    color: $danger;
    font-size: 1rem;
    min-width: 180px;
  }
}


@media (max-width: 992px) {

  .box {
    margin-bottom: 1rem;

    &_content {
      padding: 1rem 1rem .3rem;
    }

    &.account {

      .item {
        width: 100%;
      }
    }
  }

  .delete {
    flex-wrap: wrap;

    & > div {
      margin-bottom: 1.5rem;
    }

    button {
      margin: 0 auto;
    }
  }
}