@import 'vars';
@import 'mixins';


html {
  scroll-behavior: smooth;
  font-size: 15px;
}

body {
  font-family: $font-default;
  font-size: 1rem;
  overflow-x: hidden;
  //background-color: $overlay-dark;
  //min-width: 1100px;

  * {
    //border: 1px solid red;

    &:focus {
      outline: solid 3px rgba($orange, .5);
      //outline: 0;
      //box-shadow: inset 0 1px 1px rgba($orange,1), 0 0 3px rgba($orange,1);;
      outline-offset: -1px;
      border-radius: $border-radius-sm;
    }
  }

  &.menu-opened {
    height: 100vh;
    overflow: hidden;
  }
}

/*===== LAYOUT =====*/
.container-wide {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.flex-row {
  display: flex;
}

.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
}

.table-wrapper {
  overflow-x: auto;
}

.flex-centered {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
}

.site-wrapper {
  background: $base-bg;
}

.app, .site {
  position: relative;
  display: flex;
  flex-direction: column;
  background: $base-bg;
  color: $text-light;
  min-height: 100vh;

  .main {
    position: relative;
    flex: 1 0 auto;
    min-height: auto;
    width: 100%;
  }

  .page {

    &-compare {
      position: relative;
    }
  }
}

.app {

  .main {
    padding-top: 110px;
  }

  &:before {
    @include appBG();
  }
}

/*===== LANDING PAGE =====*/

.page-main {
  color: $text-light2;
  background-color: $base-bg;

  .header {
    background-color: $base;
  }
}

.landing {
  color: $text-light;
  flex: 1 0 auto;
  min-height: auto;
  font-size: 16px;
  max-width: 100%;
  overflow-x: hidden;

  .section {
    padding-top: 8rem;
    padding-bottom: 8rem;

    &-title {
      text-align: left;
      font-family: $font-default;
      position: relative;
      text-transform: uppercase;
      margin-bottom: 6rem;
      font-size: 3rem;

      &:before {
        content: '01';
        font-family: $font-mono;
        font-weight: 700;
        color: $overlay-dark;
        font-size: 8rem;
        position: absolute;
        left: -11rem;
        bottom: -21px;
      }
    }

    &-subtitle {
      font-family: $font-default;
      position: relative;
      margin-bottom: 2rem;
      font-size: 1.75rem;
    }
  }

  ul {
    margin: 0;
    padding: 0;

    &.marker-square {

      li {
        padding-left: 2rem;
        position: relative;

        &::before {
          content: '';
          display: block;
          width: .8rem;
          height: .8rem;
          border-radius: 3px;
          background-color: $yellow;
          position: absolute;
          left: 0;
          top: 4px;
        }
      }
    }
  }

  @for $i from 1 through 8 {
    .section {
      &:nth-child(#{$i + 1}) {
        .section-title {
          &:before {
            content: '0#{$i}'
          }
        }
      }
    }
  }
}

/*===== SUBSCRIPTIONS =====*/
.page-subscriptions {

  h2.section-title {
    margin-bottom: 4rem;

    &:before {
      content: none;
    }
  }
}

/*===== COMING SOON PAGE =====*/
.coming-soon {

  &-page {
    display: flex;
    align-items: center;
    padding: 2rem;
    color: lighten($text-light, 10%);
    text-align: center;

    .logo {
      margin-bottom: 4rem;

      &>div {
        margin: 0 auto;
      }
    }

    .email-collector {
      margin-bottom: 4rem;
    }

    .headline {
      margin-bottom: 6rem;

      h1 {
        font-family: $font-default;
        font-size: 3rem;
        margin-bottom: 3rem;
      }

      p {
        font-size: 1.25rem;
      }
    }

    .social-links {

      & > ul {
        margin: 0 auto;
      }
    }

    &:before {
    @include appBG();
    }
  }
}

.result-box {
  margin-bottom: $gutter-width;
}

.result-area {
  margin-right: $gutter-width / 2;
  margin-bottom: $gutter-width / 2;

  .col {

    &:nth-of-type(2) {
      width: 100%;
    }

    & > div {
      margin-bottom: $gutter-width / 2;
    }
  }
}

.team {

  &-keys {
    flex: 1;
  }

  &-radar {
    margin-right: $gutter-width / 2;
  }

  &-table {
    table {
      th {
        &:first-child {
          min-width: 220px;
        }
      }
    }
  }
}


/*===== DISPLAY =====*/

.visible {
  display: block;
}

.hidden {
  visibility: hidden;
  display: none;
}


.img-fluid {
  display: block;
  max-width: 100%;
  height: auto;
}

.fade-in {
  //animation: fadeIn ease .5s;
}

.box-top {

  .btn-widget {
    margin-bottom: 0;
    min-width: unset;
    height: auto;
    line-height: 1;
    text-transform: none;
    padding: .3rem .5rem;
    border-radius: $border-radius-sm;
    margin-right: .5rem;
    border: 0;
    background-color: $text-light;
    opacity: .8;
    color: $base;

    &:hover {
      opacity: 1;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &.active {
      color: $orange;
      border-color: $orange;
    }

    &.btn-icon {
      padding: 0 .4rem;
    }
  }

  svg {
    position: relative;
    bottom: -1px;
    margin: .2rem 0;
  }
}

html::-webkit-scrollbar,
html::-webkit-scrollbar-track,
body *::-webkit-scrollbar,
body *::-webkit-scrollbar-track {
  background-color: $overlay-dark;
  height: 6px;
  width: 6px;
}

html::-webkit-scrollbar-corner,
body *::-webkit-scrollbar-corner {
  background-color: $overlay-dark;
}

html::-webkit-scrollbar-thumb,
body *::-webkit-scrollbar-thumb {
  background-color: lighten($overlay-light, 5%);
  width: 2px;
  border-radius: 5px;
  border: 2px solid transparent;
}


.store-area .box-content,
textarea,
.team-sidebar aside {
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-track {
    width: 6px;
  }
}



//focus visible polyfill
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

mark {
  background-color: rgba($accent, .6);
  color: currentColor;
}


/*===== COLORS =====*/
.color {

  &-accent {
    color: $accent;
  }

  &-grey {
    color: $grey;
  }

  &-red {
    color: $danger;
  }

  &-yellow {
    color: $yellow
  }

  &-orange {
    color: $orange
  }
}

.success {
  color: $success;
}

.danger {
  color: $danger;
}

.warning {
  color: $warning;
}

.auth-icon-success {
  color: $success;
  font-size: 3rem;
}



.bg {

  &-accent {
    background-color: $accent;
  }

  &-grey {
    background-color: $grey-bg;
  }

  &-accent-gradient {
    background: linear-gradient(90deg, $accent-hover, $accent);
  }
}

//brands backgrounds
.bg {

  &-google {
    background-color: $google;
  }

  &-facebook {
    background-color: $facebook;
  }

  &-linkedin {
    background-color: $linkedin;
  }

  &-telegram {
    background-color: $telegram;
  }

  &-twitter {
    background-color: $twitter;
  }

  &-vk {
    background-color: $vk;
  }
}


.divider {
  border-top: 1px solid $grey-bg;
}

.mb {
  &-none {
    margin-bottom: 0 !important;
  }

  &-sm {
    margin-bottom: 1rem;
  }

  &-md {
    margin-bottom: 2rem;
  }

  &-lg {
    margin-bottom: 3rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.test {

  &-item {

  }
}


p + h3,
ul + h3,
ol + h3,
div + h3 {
  margin-top: 50px;
}


p + h2,
ul + h2,
ol + h2,
div + h2 {
  margin-top: 60px;
}

li {
  margin-bottom: 14px;
}

h4 {
  margin-bottom: 40px;
}

h3 {
  margin-bottom: 30px;
}

table {
  //width: 100%;
  max-width: 100%;
  border: 1px solid rgba($grey, .3);
  font-size: 16px;
  overflow: hidden;
}

tbody {

}

th {
  background-color: $grey-bg;
}

th, td {
  padding: 10px;
  border: 1px solid rgba($grey, .3);
  line-height: 1.4;
}


/*===== Modals =====*/
.root {

  .rodal-dialog {
    padding: 1.5rem;
  }
}

.only-login-modal {

  .rodal-dialog {
    background-color: orange;
  }
}

.danger-modal {

  .rodal-dialog {
    background-color: $overlay-dark;
  }
}

/*===== ALERT =====*/

.react-confirm-alert-overlay {

  &.alert-overlay {
    background: rgba(0,0,0,.1);

    .react-confirm-alert {

      &-body {
        font-family: inherit;
        width: 400px;
        padding: 2rem;
        background: $overlay-dark;
        border-radius: $border-radius;
        box-shadow: 1px 3px 32px rgba(#fff, .4);
        color: $text-light;
      }

      &-button-group {

        button {
          position: relative;
          font-size: 1.1rem;
          border-radius: 3px;
          height: 2.5rem;
          min-width: 7rem;
          text-transform: uppercase;
        }
      }
    }

    &.confirm-danger {

      .react-confirm-alert {

        &-button-group {

          button {
            // OK
            &:last-child {
              background-color: $accent;
            }
            // Cancel
            &:first-child {
              background-color: transparent;
              border: 2px solid $danger;
              color: $danger;
            }
          }
        }
      }
    }
  }
}



/*===== POPOVERS =====*/
.user-popover {
  width: 280px;
  padding: 0;
  top: 50px;
  right: 0;
  font-size: 16px;
}

.lang-popover {
  top: 50px;
  right: 0;
}

.lang-popover-alt {
  bottom: 50px;
  right: 0;
}

header {
  .lang-popover-alt {
    bottom: 0;
    top: 40px;
    right: 0;
  }
}

.login {

  &-modal {

    &-content {

      .tooltip {
        display: block;
        line-height: inherit;
        cursor: not-allowed;
      }
    }
  }
}

body {
  &.cookie-consented {

    .cookie-consent-popup {
      display: none;
    }
  }
}


/*===== CHARTS =====*/

.shape {
  //fill: $orange;
  //stroke: $orange;
  transition: all .2s ease-in-out;
}

.radar-chart {

  .scale {
    stroke-width: .5;

    &:before {
      content: 'tr';
    }

    &:nth-child(even) {
      stroke: $orange
    }
  }
}

/*====== RESULT =====*/

.full-profile {

  table {
    th {

      &:first-child {
        width: 45%;
      }
    }
  }
}

.additional-profile {
  table {
    th {
      width: 10%;
      font-weight: normal;
    }
  }
}

/*===== PAIR COOPERATION =====*/

.page-pair, .page-main {

  .keys {

    & > div {
      margin-bottom: $gutter-width / 2;
    }
  }
}

/*===== TEAM COOPERATION =====*/

.work-board {
  display: flex;
  flex: 1 0 auto;
  min-height: auto;
}

.page-team {

  .main {
    overflow-x: auto;
  }

  .team-sidebar {
    height: 100%;
    z-index: 2;
    overflow-y: auto;
    margin-right: 2rem;
    box-shadow: $box-shadow-lg;
    background-color: $overlay-dark;
  }

  .full-sidebar {

    .team-sidebar {
      width: $sidebar-width;
      min-width: $sidebar-width;
    }

    .main {
      width: calc(100% - #{$sidebar-width} - #{$gutter-width});
    }
  }

  .compact-sidebar {

    .main {
      width: calc(100% - 4rem - #{$gutter-width});
    }

    .team-sidebar {
      width: 4rem;
      min-width: 4rem;
    }
  }

  &.with-sidebar {

    .footer {
      margin-left: $sidebar-width;
    }
  }

  .store-area {
    width: 20rem;
    position: relative;

    & > div:nth-of-type(2) {
      background-color: rgba($text-light, .5);
      border-radius: 0 0 $border-radius-sm $border-radius-sm;
    }

    .box-content {
      max-height: 48rem;
      overflow-y: auto;
      height: 95%;
    }

    &:after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      height: .5rem;
      width: 100%;
      background: linear-gradient(to bottom, transparent, $base-bg);
    }

    .box {

      &-top {
        box-shadow: 0 3px 7px #000;
      }

      &-content {
        position: relative;

      }
    }
  }

  .teams-area {
    flex-grow: 1;
    flex-shrink: 0;
    margin-left: $gutter-width / 2;
    margin-right: $gutter-width / 2;
    width: calc(100% - (#{$sidebar-width} + #{$gutter-width * 2}));

    .box-content {
      overflow-x: auto;
    }
  }

  .work-board {
    overflow-x: auto;

    .main {
      min-width: 1100px;
    }
  }

  //.content {
  //  flex-grow: 1;
  //  flex-shrink: 0;
  //  overflow-x: auto;
  //  margin-left: calc(#{$sidebar-width} + #{$gutter-width});
  //  min-width: 1170px;
  //}

}

.teams-wrapper {
  display: flex;
  height: auto;

  & > div {
    margin-right: 1rem;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

//.add-member-modal,
//.auth-modal,
//.member-info-modal, {
//
//  .rodal-dialog {
//    padding: 1.5rem;
//    background-color: $overlay-dark;
//    box-shadow: 1px 3px 32px rgba(#fff, .4);
//    border-radius: $border-radius;
//
//    button {
//      margin: 0;
//    }
//  }
//}

.modal {

  .rodal-dialog {
    padding: 1.5rem;
    background-color: $overlay-dark;
    box-shadow: 1px 3px 32px rgba(#fff, .4);
    border-radius: $border-radius;

    button {
      margin: 0;
    }
  }
}

.add-member-modal {

  textarea {
    font-size: 14px;
  }

  .submit-btn {
    width: 100%;
  }
}

.team-indicators {

  .indicator {
    margin-bottom: 1.25rem;
  }
}

/*===== FORMS =====*/

input, textarea {
  display: block;
  width: 100%;
  padding: .5rem .8rem;
  background-color: $overlay-light;
  border: 0;
  caret-color: $text-light;
  color: $text-light;
  font-family: $font-mono;
  border-radius: $border-radius-sm;
}

.form-group {
  margin-bottom: 1.5rem;

  &:last-child {
    margin-bottom: 0;
  }

  label {

    span {
      display: inline-block;
      margin-bottom: .2rem;
    }
  }

  textarea {
    resize: none;
    margin: 0;
    height: 100px;
  }

  .item-explain {
    font-size: .8rem;
    min-height: 1.5rem;
    padding-top: 0;
    line-height: 1.4;
    transition: color .3s cubic-bezier(.215, .61, .355, 1);

    &.api {

      &-error {
        color: $danger;
        padding-top: .5rem;
        padding-bottom: .5rem;
      }
      &-success {
        color: $success;
        padding-top: .5rem;
        padding-bottom: .5rem;
      }
    }
  }

  &.has-error {
    margin-bottom: 0;

    .item-explain {
      color: $danger;

      &.floating {
        position: absolute;
        padding: .8rem;
        right: 0;
        bottom: -120%;
        background-color: #fff;
        border-radius: $border-radius-sm;
        box-shadow: $box-shadow-lg;
        width: 100%;
        z-index: 99;
      }
    }

    input,
    textarea {

      &:focus {
        border-radius: 3px;
        outline-color: rgba($danger, .5);
      }
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  -webkit-text-fill-color: $text-light;
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 174, 255, 0.04) 50%, rgba(255, 255, 255, 0) 51%, rgba(0, 174, 255, 0.03) 100%);
}

.auth-icon-success {
  color: $success;
  font-size: 3rem;
}
