@import '../../../assets/scss/vars';

.wrapper {
  max-width: 400px;
  margin: 0 auto;
}

.form {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.label {
  display: block;
  margin-bottom: 1rem;
  min-width: 200px;
}

.btn {
  height: 39px;
  background-color: $yellow;
  color: $base;
  margin-bottom: 1rem;
  border-radius: 0 $border-radius-sm $border-radius-sm 0;

  &:hover {
    background-color: darken($yellow, 20%);
    color: $base;
  }
}

.error {
  color: $danger;
  text-align: left;
}

.success {
  color: $yellow
}

@media(max-width: $md-breakpoint) {

  .form {
    flex-wrap: wrap;

  }

  .btn {
    border-radius: $border-radius-sm;
  }

  .label {
    width: 100%;
  }
}