@import '../../../assets/scss/vars';

.section {

  .title {

    &:before {
      content: '03' !important;
    }
  }
}

.item {
  display: flex;
  padding: 2rem;
  border-radius: $border-radius-sm;
  border: 1px solid $overlay-dark;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    margin-right: 3rem;
    display: block;
    width: 80px;
    min-width: 80px;
    height: auto;
  }
}
.header {
  margin-bottom: 1.5rem;
}

.desc {
  margin-bottom: 0;
}


// <992
@media (max-width: $lg-breakpoint) {

  .item {
    margin-bottom: 1rem;
  }
}

// <768
@media (max-width: $md-breakpoint) {

  .item {
    flex-wrap: wrap;
    text-align: center;
  }

  .img {
    width: 100%;
    margin-bottom: 1rem;
  }
}