@import 'src/common/assets/scss/_vars.scss';

.wrapper {
  display: inline-block;
  position: relative;
}


.profile {
  display: inline-flex;
  justify-content: space-between;
  padding: 11px 10px;
  background-color: transparent;
  border: 1px solid rgba($orange, .2);
  line-height: 37px;
  width: 70px;
  border-radius: $border-radius-sm;
  align-self: stretch;
  color: $orange;
  font-size: 16px;
  transition: all .2s ease-in-out;

  &:hover {
    background-color: rgba($orange, .2);
  }
}

.links {
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid $grey-bg;

  &:last-of-type {
    margin-bottom: 0;
    border-bottom: 0;
  }

  .item {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    transition: background-color .2s ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: $grey-bg;
    }

    &.creds {

      &:hover {
        background-color: #fff;
        cursor: auto;
      }
    }
  }

    svg {
      margin-right: 10px;
    }
}
