@import '../../../../assets/scss/vars';
@import '../../../../assets/scss/mixins';

.wrapper {
  display: flex;
  width: 100%;
}

.enc {
  //@include ellipsis;
  position: relative;
  display: inline-block;
  padding: .6rem 1rem;
  border-radius: $border-radius-sm;
  background-color: $overlay-light;
  font-size: 75%;
  width: 100%;
  max-width: 100%;
  border: 0;
  height: auto;
  margin-right: .5rem;
  resize: none;
}

.btn {
  color: $grey;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 3rem;
  border-radius: $border-radius-sm;
  background-color: $overlay-light;
  border: 0;
  cursor: pointer;
  transition: .2s;

  svg {
    font-size: 1.5rem;
    position: relative;
    bottom: 0 !important;

  }

  &:hover {
    background-color: darken($overlay-light, 5%);
  }

  &.success {
    color: $success;
    border-color: rgba($success, .5) !important;
  }
}

.withBtn {

  .btn {
    height: 4.5rem;
    width: 10rem;
    line-height: 1.2;
  }
}


@media(max-width: $md-breakpoint) {

  .enc {
    //@include ellipsis;
    height: auto;
    margin-right: 0;
    margin-bottom: .5rem;
  }

  .wrapper {
    flex-wrap: wrap;

    button.btn {
      width: 100%;
      height: auto;
      padding-top: .5rem;
      padding-bottom: .5rem;
    }
  }

}