@import 'src/common/assets/scss/_vars.scss';

.wrapper {
  user-select: none;
  min-width: 250px;
  min-height: 40rem;

  &.store {
    border: 0;
    //background-color: $overlay-light;
  }

  &.team {
    transition: background-color .1s ease-in-out;
    padding: .5rem;
  }

  &.fixed {
    //background-color: $text-light;
    border: 2px dashed rgba($overlay-light, 1);
    border-radius: $border-radius;
  }

  &.dragging {
    background-color: rgba($accent, .3);

  }

  & > div:not(:last-of-type) {
    margin-bottom: .5rem;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  //padding: 0 1rem ;
}

.title {
  margin: 0;
  text-transform: uppercase;
  height: 40px;
  line-height: 40px;
  padding: 0 .5rem;
  border-radius: $border-radius-sm;
  background-color: transparent;
  color: $text-light;
  border: 0;
  transition: all .2s;

  &:hover {
    cursor: pointer;
    background-color: $overlay-light;
  }
}

.titleInput {
  height: 40px;
  line-height: 40px;
  padding: 0 .5rem;
  width: auto;
}

.delete {
  width: 40px;
  height: 40px;
  border: 0;
  background-color: transparent;
  color: $text-light;
  padding: .5rem;
  border-radius: $border-radius-sm;
  opacity: .5;
  transition: color .2s, opacity .2s;
  margin-left: 1rem;
  margin-bottom: 0;

  &:hover {
    color: $danger;
    cursor: pointer;
    opacity: 1;
    background-color: $overlay-light;
  }

  svg {
    position: relative;
    //bottom: -3px;
  }
}