@import "../../../../assets/scss/vars";

.fields {
  margin-bottom: 1rem;
}

.buttons {
  display: flex;
  justify-content: center;
}

.btn {
  margin-bottom: 1rem;
  font-size: 1rem;
  text-transform: none;
  padding-top: .3rem;
  padding-bottom: .3rem;

  &:first-child {
    margin-right: 1rem;
  }
}

.submit {
  height: 46px;
  margin-top: 5rem;

  svg {
    position: relative;
    bottom: -2px;
    margin-right: .5rem;
  }
}

.search {
  position: relative;
}

.floatBtn {
  position: fixed;
  right: 0;
  top: 20%;
  background-color: $text-light;
  border: 0;
  box-shadow: $box-shadow-md;
  cursor: pointer;
  padding: .3rem .5rem;

  svg {
    position: relative;
    bottom: -3px
  }
}

@media (max-width: 992px) {
  .fields {
    margin-bottom: 0;
  }

  .submit {
    margin-top: 2rem;
  }
}