@import '../../../../assets/scss/vars.scss';
@import '../../../../assets/scss/animations.scss';

.wrapper {
  width: 10rem;
  position: relative;
}

.donut {
  width: 100%;
  height: 100%
}

.half {
  stroke: $overlay-light;
}

.base {
  fill-opacity: 0;
  stroke-width: 2;
}

.shadow {
  //stroke: $overlay-light;
  stroke-width: 8;
  stroke-opacity: .1;
  stroke-dasharray: 142;
  stroke-linecap: round;
}

.progress {
  stroke-dasharray: 142;
  stroke-linecap: round;
}

.gradient {
  stop {

    &:first-child {
      stop-color: $danger;
    }

    &:nth-child(2) {
      stop-color: $warning;
    }

    &:last-child {
      stop-color: $success;
    }
  }
}

.point {
  fill: #fff;
}

.value {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-family: $font-mono;
  font-size: 1.75rem;
  //background-color: $overlay-light;
  //padding: 0 .8rem;
}

.danger {
  color: $danger;
}

.warning {
  color: $warning;
}

.success {
  color: $success;
}