@import '../../../../assets/scss/vars';
@import '../../../../assets/scss/flexgridcustom';

.wrapper {
  display: flex;
  align-items: center;
  //justify-content: space-between;
  //max-width: 40rem;
  padding-bottom: 1.75rem;
}

.title {

  margin-right: 3rem;
  margin-bottom: 0;

  span {
    text-transform: uppercase;
  }
}


@media (max-width: $xl-breakpoint) {

  .wrapper {
    padding-left: 25px;
    padding-right: 25px;
  }

}