@import 'src/common/assets/scss/_vars.scss';

.block {
  margin-bottom: 1rem;
  padding: .8rem;
  border: 1px solid $overlay-light;
  border-radius: $border-radius;

  &:hover {
    cursor: pointer;
    box-shadow: $box-shadow-md;
  }

  &.active {
    border-color: $orange;
  }
}

.title {
  margin-top: 0;
  margin-bottom: 1rem;
  text-transform: uppercase;
}