@import '../../../../../assets/scss/vars';

.btn {
  user-select: none;
  cursor: pointer;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 20px;
  transition: background .1s ease-in;

  &:hover {
    background: rgba(#fff, .3);
  }

  &:active {
    border-radius: 20px;
  }
}

.icon {
  position: relative;
  font-size: 1.1rem;
  display: block;
  color: $base;
  flex-shrink: 0;
  backface-visibility: hidden;
}