@import './vars.scss';
@import './flexgridcustom.scss';


html {
  scroll-behavior: smooth;
  font-size: 15px;
}

body {
  font-family: $font-default;
  font-size: 1rem;
  overflow-x: hidden;

  * {
    //border: 1px solid red;

    &:focus {
      outline: solid 3px rgba($orange, .5);
      outline-offset: -1px;
      border-radius: 0;
    }
  }

  &.menu-opened,
  &.ReactModal__Body--open {
    //overflow: hidden;
  }
}

/*===== LAYOUT =====*/
.container-wide {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.flex-row {
  display: flex;
}

.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.content {
  max-width: 900px;
  margin: 0 auto;

  &-page {
    padding: 60px 0;
  }
}

.table-wrapper {
  overflow-x: auto;
}

.flex-centered {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  background: $base-bg;
  color: $text-light;
  min-height: 100vh;

  .main {
    position: relative;
    flex: 1 0 auto;
    min-height: auto;
    width: 100%;
    padding-top: 107px;
  }

  &:before {
    position: fixed;
    content: '';
    display: block;
    width: 100%;
    height: 100vh;
    background-image: url('../img/main_bg1-opt.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: .5;
    //filter: grayscale(100%) brightness(0.2);
  }

  .page {

    &-compare, {
      position: relative;

    }
  }
}

main {
  //z-index: 1;
}

.result-box {
  margin-bottom: $gutter-width;
}

.result-area {
  margin-right: $gutter-width / 2;
  margin-bottom: $gutter-width / 2;

  .col > div {
    margin-bottom: $gutter-width / 2;
  }
}

.team {

  &-keys {
    flex: 1;

    .box-content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      & > div {
        margin-bottom: 1rem;
      }
    }
  }

  &-radar {
    margin-right: $gutter-width / 2;
  }

  &-table {
    table {
      th {
        &:first-child {
          min-width: 220px;
        }
      }
    }
  }
}


/*===== DISPLAY =====*/

.visible {
  display: block;
}

.hidden {
  visibility: hidden;
  display: none;
}


.img-fluid {
  display: block;
  max-width: 100%;
  height: auto;
}

.fade-in {
  //animation: fadeIn ease .5s;
}

.box-top {

  .btn-widget {
    margin-bottom: 0;
    min-width: unset;
    height: auto;
    line-height: 1;
    text-transform: none;
    padding: .3rem .5rem;
    border-radius: $border-radius-sm;
    margin-right: .5rem;
    border: 0;
    background-color: $text-light;
    opacity: .8;
    color: $base;

    &:hover {
      opacity: 1;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &.active {
      color: $orange;
      border-color: $orange;
    }

    &.btn-icon {
      padding: 0 .4rem;
    }
  }

  svg {
    position: relative;
    bottom: -1px;
    margin: .2rem 0;
  }
}

html,
body * {
  scrollbar-color: lighten($overlay-light, 5%) $overlay-dark;
  scrollbar-width: 6px;
}

html::-webkit-scrollbar,
html::-webkit-scrollbar-track,
body *::-webkit-scrollbar,
body *::-webkit-scrollbar-track {
  background-color: $overlay-dark;
  height: 10px;
}

html::-webkit-scrollbar-corner,
body *::-webkit-scrollbar-corner {
  background-color: $overlay-dark;
}

html::-webkit-scrollbar-thumb,
body *::-webkit-scrollbar-thumb {
  background-color: lighten($overlay-light, 5%);
  width: 2px;
  border-radius: 5px;
  border: 2px solid transparent;
}

html::-webkit-scrollbar,
body *::-webkit-scrollbar,
html::-webkit-scrollbar-track,
body *::-webkit-scrollbar-track {
  background-color: $overlay-dark;
}


.store-area .box-content,
textarea,
.team-sidebar {
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-track {
    width: 10px;
  }
}

//focus visible polyfill
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

mark {
  background-color: rgba($accent, .6);
  color: currentColor;
}


/*===== COLORS =====*/
.color {

  &-accent {
    color: $accent;
  }

  &-grey {
    color: $grey;
  }

  &-red {
    color: $danger;
  }
}

.bg {

  &-accent {
    background-color: $accent;
  }

  &-grey {
    background-color: $grey-bg;
  }

  &-accent-gradient {
    background: linear-gradient(90deg, $accent-hover, $accent);
  }
}

//brands backgrounds
.bg {

  &-google {
    background-color: $google;
  }

  &-facebook {
    background-color: $facebook;
  }

  &-linkedin {
    background-color: $linkedin;
  }

  &-telegram {
    background-color: $telegram;
  }

  &-twitter {
    background-color: $twitter;
  }

  &-vk {
    background-color: $vk;
  }
}


.divider {
  border-top: 1px solid $grey-bg;
}

.mb {
  &-none {
    margin-bottom: 0 !important;
  }

  &-sm {
    margin-bottom: 1rem;
  }

  &-md {
    margin-bottom: 2rem;
  }

  &-lg {
    margin-bottom: 3rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.test {

  &-item {

  }
}


p + h3,
ul + h3,
ol + h3,
div + h3 {
  margin-top: 50px;
}


p + h2,
ul + h2,
ol + h2,
div + h2 {
  margin-top: 60px;
}

li {
  margin-bottom: 14px;
}

h4 {
  margin-bottom: 40px;
}

h3 {
  margin-bottom: 30px;
}

table {
  //width: 100%;
  max-width: 100%;
  border: 1px solid rgba($grey, .3);
  font-size: 16px;
  overflow: hidden;
}

tbody {

}

th {
  background-color: $grey-bg;
}

th, td {
  padding: 10px;
  border: 1px solid rgba($grey, .3);
  line-height: 1.4;
}


/*===== Modals =====*/
.root {

  .rodal-dialog {
    padding: 30px;
  }
}

.only-login-modal {

  .rodal-dialog {
    background-color: orange;
  }
}


/*===== POPOVERS =====*/
.user-popover {
  width: 280px;
  padding: 0;
  top: 50px;
  right: 0;
  font-size: 16px;

  svg {
    position: relative;
    bottom: -3px;
    margin-right: 10px;
  }
}

.lang-popover {
  top: 50px;
  right: 0;
}

.lang-popover-alt {
  bottom: 50px;
  right: 0;
}

.login {

  &-modal {

    &-content {

      .tooltip {
        display: block;
        line-height: inherit;
        cursor: not-allowed;
      }
    }
  }
}


/*===== CHARTS =====*/

.shape {
  //fill: $orange;
  //stroke: $orange;
  transition: all .2s ease-in-out;
}

.radar-chart {

  .scale {
    stroke-width: .5;

    &:before {
      content: 'tr';
    }

    &:nth-child(even) {
      stroke: $orange
    }
  }
}

/*====== RESULT =====*/

.full-profile {

  table {
    th {

      &:first-child {
        width: 45%;
      }
    }
  }
}

.additional-profile {
  table {
    th {
      width: 10%;
      font-weight: normal;
    }
  }
}

/*===== PAIR COOPERATION =====*/

.page-pair {
  padding-top: 100px;
}

/*===== TEAM COOPERATION =====*/

$sidebar-width: 17rem;

.page-team {
  padding-top: 110px;

  .store-area {
    width: 20rem;

    & > div:nth-of-type(2) {
      background-color: rgba($text-light, .5);
      border-radius: 0 0 $border-radius-sm $border-radius-sm;
    }

    .box-content {
      max-height: 48rem;
      overflow-y: auto;
      height: 95%;
    }
  }

  .teams-area {
    flex-grow: 1;
    flex-shrink: 0;
    margin-left: $gutter-width / 2;
    margin-right: $gutter-width / 2;
    width: calc(100% - (#{$sidebar-width} + #{$gutter-width * 2}));

    .box-content {
      overflow-x: auto;
    }
  }

  .drag-area {
    flex-grow: 1;
    flex-shrink: 0;
    overflow-x: auto;
    margin-left: calc(#{$sidebar-width} + #{$gutter-width});
  }

  .team-sidebar {
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 2;
    overflow-y: auto;
    box-shadow: $box-shadow-lg;
    background-color: $overlay-dark;
  }
}

.teams-wrapper {
  display: flex;
  height: auto;

  & > div {
    margin-right: 1rem;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.add-member-modal,
.auth-modal {

  .rodal-dialog {
    padding: 2rem;
    background-color: $overlay-dark;
    box-shadow: 1px 3px 32px rgba(#fff, .4);
    border-radius: $border-radius;
  }
}

.add-member-modal {

  textarea {
    font-size: 14px;
  }
}

.team-indicators {

  .indicator {
    margin-bottom: 1.25rem;
  }
}

/*===== FORMS =====*/

input, textarea {
  display: block;
  width: 100%;
  padding: .5rem .8rem;
  background-color: $overlay-light;
  border: 0;
  caret-color: $text-light;
  color: $text-light;
  font-family: $font-mono;
  border-radius: $border-radius-sm;
}

.form-group {
  margin-bottom: 1.5rem;

  textarea {
    resize: none;
    margin: 0;
    height: 100px;
  }

  .item-explain {
    font-size: .8rem;
    min-height: 1.5rem;
    padding-top: 0;
    line-height: 1.4;
    transition: color .3s cubic-bezier(.215, .61, .355, 1);
  }

  &.has-error {
    margin-bottom: 0;

    .item-explain {
      color: $danger;

      &.floating {
        position: absolute;
        padding: .8rem;
        right: 0;
        bottom: -120%;
        background-color: #fff;
        border-radius: $border-radius-sm;
        box-shadow: $box-shadow-lg;
        width: 100%;
        z-index: 99;
      }
    }

    input,
    textarea {

      &:focus {
        outline-color: rgba($danger, .5);
      }
    }
  }
}


//Media

@media (max-width: 1920px) {

  .container-wide {
    padding: 0 15px;
  }
}

@media (max-width: $xl-breakpoint) {

  .main {
    padding-top: 100px;
  }

  .page-team {

    .container-wide {
      position: relative;
      padding-left: 5px;
      padding-right: 5px;
    }

    .team-sidebar {
      transition: transform .2s ease-in-out;

      &.visible {
        transform: translateX(0);
      }

      &.full {
        position: fixed;
        width: 20rem;
        top: 80px;
        right: 5px;
        //transform: translateX(102%);
      }

    }

    .drag-area {
      margin-left: 4rem + $gutter-width / 2;
    }

    .team-radar {

      .box-content {
        padding-right: .2rem;
        padding-left: .2rem;
      }
    }
  }

  .teams-wrapper {

    & > div {
      margin-right: .5rem;
    }
  }


}

@media (max-width: $lg-breakpoint) {

  .section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .content-page {
    padding: 20px 0;

    h1 {
      margin-bottom: 20px;
    }
  }

}
