$font-default: 'PT Sans', sans-serif;
$font-mono: 'PT Mono', sans-serif;
//$font-default: 'Ubontu', sans-serif;
//$font-mono: 'Ubontu Mono', sans-serif;

///Colors
$accent: #556587;
//$accent: #36a9e0;
$accent-hover: darken($accent, 10%);
$yellow: #FFC734;
$orange: #FF5E34;
$text: #203152;
$blue: #36A9E0;


$gradient-accent: linear-gradient(90deg, rgba(#67C3F0, .1), rgba($accent, .1));

@mixin gradient-accent($angle, $opacity1, $opacity2) {
  background: linear-gradient($angle, rgba(#67C3F0, $opacity1), rgba($accent, $opacity2));
}

$accent2: #36A9E0;
$accent2-hover: darken($accent2, 10%);

$secondary-color: #C57A44;

$bg-dark: #000;

$grey: #7D7D7D;
$grey-bg: #EFF1F4;

$link: $accent;
$link-hover: $accent-hover;

//DARK THEME COLORS
$base: #1C1E23;
$overlay-dark: lighten($base, 5%);
$overlay-light: lighten($base, 10%);
$surface: lighten($base, 5%);
$overflow: #010101;

$base-bg: $base;
$base-gradient: linear-gradient(90deg, $overlay-light, $base);

$blue: #5D9EFC;
$text-light: #b9b9b0;

/// OK/NO colors
$danger: #D8596C;
$warning: #FF9D48;
$success: #26AF7E;


//Decoration
$border-radius-sm: 3px;
$border-radius-lg: 6px;
$border-radius: $border-radius-sm;
$box-shadow-sm: 0 1px 1px 0 rgba(10,22,70,.1), 0 0 1px 0 rgba(10,22,70,.06);
$box-shadow-md: 0 2px 3px 0 rgba(10,22,70,.1), 0 1px 3px 0 rgba(10,22,70,.08);
$box-shadow-lg: 0 4px 12px 0 rgba($base,.2), 0 2px 6px 0 rgba($base,.1);

///Typography
$h1-fontsize: 30px;
$h2-fontsize: 24px;
$h3-fontsize: 20px;
$h4-fontsize: 18px;
$h5-fontsize: 16px;
$h6-fontsize: 14px;


//Brands Colors
$facebook: #3b5998;
$linkedin: #0077b5;
$google: #ea4335;
$twitter: #1DA1F2;
$vk: #4680C2;
$telegram: #0088cc;

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .2;
  }
  100% {
    opacity: 1;
  }
}

