@import 'src/common/assets/scss/vars';

.wrapper {
  box-sizing: border-box;
  margin: 0 0 1rem;
  padding: 2rem;
  color: currentColor;
  position: relative;
  background: rgba($overlay-light, .3);
  border-radius: $border-radius-sm;
  box-shadow: $box-shadow-sm;
  transition: all .3s;
  animation: fadeIn .3s;
}


@media(max-width: 992px) {

  .wrapper {
    padding: 30px 15px;
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 0;
  }

}