@import '../../../../assets/scss/vars';

.wrapper {
  position: relative;
  border: 1px solid $overlay-light;
  border-radius: $border-radius-sm;
  padding: 1rem 1.25rem 1rem 3rem;
  width: 100%;
  height: 100%;
}

.top {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 700;

  span {
    font-family: $font-mono;
  }

  svg {
    position: relative;
    bottom: 3px;
    font-size: 1.25rem;
  }
}

.icon {
  position: absolute;
  left: 1rem;
  top: 1.3rem;
  color: $orange;
}

.circle {
  display: inline-block;
  width: .9rem;
  height:  .9rem;
  border-radius: 50%;
}

.wrapper {
  &.danger {
    .circle {
      background-color: $danger;
      color: $danger;
    }
  }
  &.warning {
    .circle {
      background-color: $warning;
      color: $warning;
    }
  }
  &.success {
    .circle {
      background-color: $success;
      color: $success;
    }
  }
}