@import 'src/common/assets/scss/_vars.scss';

.comp {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $overlay-light;
  border-radius: $border-radius-sm;
  padding: 1.25rem;
  width: 16rem;

  //&:not(:last-of-type) {
  //  margin-bottom: 20px;
  //}

  h5 {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
  }
}

.desc {
  margin-top: 1rem;
  text-align: center;
  font-size: .9rem;
}

.more button {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 1rem;
}