@import '../../../assets/scss/vars';

.section {
  position: relative;
  padding-top: 16rem;
  padding-bottom: 10rem;
  height: auto;
  min-height: calc(100vh - 30rem);

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -3rem;
    display: block;
    width: 500px;
    height: 500px;
    background: url('../../../assets/img/tc-logo-bw.png') no-repeat center bottom/cover;
    opacity: .2;
  }
}

.content {
  position: relative;
  z-index: 2;
  text-align: center;
}

.title {
  font-family: $font-default;
  letter-spacing: 2px;
  font-size: 5.5rem;
  filter: drop-shadow(0 1px 3px rgba($base, .5));
  margin-bottom: 4rem;

  span {

    &:first-child {
      color: $yellow
    }
    &:nth-child(2) {
      color: $orange
    }
    &:nth-child(3) {
      color: $blue
    }
    &:last-child {
      color: $green;
    }
  }
}

.supTitle {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.subtitle {
  font-size: 1.3rem;
  max-width: 600px;
  margin: 0 auto 4rem;
}

.btn {
  display: block;
  width: 10rem;
  border-color: $yellow;
  color: $yellow;
  margin: 0 auto;

  &:hover {
    border-color: $orange;
    color: $orange;
  }
}

@media (max-width: 992px) {

  .section {

    &:after {
      content: none;
    }
  }
}


@media (max-width: 768px) {

  .title {
    font-size: 2rem;

    span {
      font-size: 1.2rem ;
    }
  }

  .section {
    position: relative;
    padding-top: 5rem;
    padding-bottom: 3rem;
  }
}