@import '../../../../assets/scss/vars';
@import '../../../../assets/scss/flexgridcustom';

.btn {
  width: 4rem;
  height: 55px;
  position: absolute;
  right: 0;
  top: 56px;
  font-size: 28px;
  background-color: $overlay-light;
  border: 0;
  color: $text-light;
  z-index: 100;
  transition: background-color .2s ease-in-out;

  svg {
    position: relative;
    bottom: -3px;
  }

  &:hover {
    cursor: pointer;
    background-color: lighten($overlay-light, 5%);
  }
}

@media(max-width: $lg-breakpoint) {

  .btn {
    top: 50px
  }
}