@import '../../../../../assets/scss/vars';

.wrapper {
  position: relative;
  user-select: none;
  padding: .7rem .8rem;
  box-shadow: $box-shadow-md;
  border-radius: $border-radius;

  &.fixed {
    background-color: $overlay-dark;

    &.store {
      transform: translateY(0) !important;
    }
  }

  &.dragging {
    background-color: $overlay-light;
    box-shadow: $box-shadow-lg;
  }

  &.clone {
    //color: green;
    //& + div {
    //  transform: translate(0, 0) !important;
    //}
  }

  &:hover .buttons {
    opacity: 1;
  }
}

.inner {
  display: flex;
  align-items: center;
}

.avatar {
  max-width: 28%;
  width: 28%;
  margin-right: .5rem;
  opacity: .7;
  border-radius: 50%;
  border: 1px solid $text-light;
}

.content {
  width: 100%;
}

.name {
  font-weight: 700;
  color: $text-light;
  font-size: 1.1rem;
}

.position {
  color: $text-light;
  opacity: .8;
  font-size: .9rem;
}

.buttons {
  position: absolute;
  right: 5px;
  top: 5px;
  opacity: 0;
  transition: all .1s ease-in-out;
}

.btn {
  width: 2.2rem;
  height: 2.2rem;
  border: 0;
  background-color: $overlay-light;
  color: $text-light;
  border-radius: $border-radius-sm;
  transition: color .2s;
  cursor: pointer;
  margin-right: 3px;

  &:hover {
    color: #fff;
  }

  &:last-child {
    margin-right: 0;

    &:hover {
      color: $danger;
    }
  }

  svg {
    position: relative;
    bottom: -3px
  }

}
