@import '../../assets/scss/vars';

.headline {

}

.social {
  margin-top: 4rem;

  h3 {
    font-family: $font-default;
  }
}

@media(max-width: $md-breakpoint) {

  .social {
    text-align: center;

    h3 {
      text-align: left;
    }
  }
}