@import 'src/common/assets/scss/_vars.scss';

.nav {
  display: flex;
  align-items: center;

  button {
    margin-bottom: 0;
  }

  .list {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 3rem;

    li {
      margin-bottom: 0;
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}


.link {
  color: $text-light;
  padding: .5rem 1rem;
  border: 1px solid transparent;
  border-radius: $border-radius;

  &:hover {
    background-color: $overlay-light;
    color: $text-light;
  }

  &.current {
    border: 1px solid $overlay-light;
    color: $text-light;
  }
}

