@import 'src/common/assets/scss/_vars.scss';

.nav {
  display: flex;
  align-items: center;
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 3rem;

  li {
    margin-bottom: 0;
    margin-right: 1rem;

    //&:last-child {
    //  margin-right: 0;
    //}
  }
}

ul.auth {
  border-left: 1px solid rgba($text-light, .5);
  padding-left: 2rem;
  margin-left: 2rem;
  margin-right: 1rem;
}


.link {
  color: $text-light;
  padding: .5rem 1rem;
  border: 1px solid transparent;
  border-radius: $border-radius;
  text-decoration: none;

  &:hover {
    background-color: $overlay-light;
    color: $text-light;
  }

  &.current {
    border: 1px solid $overlay-light;
    color: $text-light;
  }
}

