@import 'src/common/assets/scss/_vars.scss';

.btn {
  width: 60px;
  height: 61px;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 28px;
  background-color: $overlay-light;
  border: 0;
  color: $text-light;
  z-index: 100;

  svg {
    position: relative;
    bottom: -3px;
  }
}