@import 'src/common/assets/scss/vars';

.btn {
  background-color: transparent;
  position: relative;
  border: none;
  width: 80px;
  height: 30px;
  border-radius: 3px;
  outline: none;
  font-size: 24px;
  line-height: 1;
  text-align: left;
  padding: 0;

  &:hover, &:active {
    outline: none;
  }

}
